<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>auth_url</key>
	<string>http://api.t.sina.com.cn/oauth/authorize?oauth_token=%@</string>
	<key>baidu</key>
	<string>http://www.baidu.com/s?wd=%@</string>
	<key>block_url</key>
	<string>http://api.t.sina.com.cn/blocks/create.json</string>
	<key>check_block_url</key>
	<string>http://api.t.sina.com.cn/blocks/exists.json</string>
	<key>comment_url</key>
	<string>http://api.t.sina.com.cn/statuses/comment.json</string>
	<key>comments_by_me_url</key>
	<string>http://api.t.sina.com.cn/statuses/comments_by_me.json</string>
	<key>comments_to_me_url</key>
	<string>http://api.t.sina.com.cn/statuses/comments_to_me.json</string>
	<key>comments_to_status_url</key>
	<string>http://api.t.sina.com.cn/statuses/comments.json</string>
	<key>comments_url</key>
	<string>http://api.t.sina.com.cn/statuses/comments_timeline.json</string>
	<key>counts_url</key>
	<string>http://api.t.sina.com.cn/statuses/counts.json</string>
	<key>destroy_comment_url</key>
	<string>http://api.t.sina.com.cn/statuses/comment_destroy/%ld.json</string>
	<key>destroy_comments_url</key>
	<string>http://api.t.sina.com.cn/statuses/comment/destroy_batch.json</string>
	<key>destroy_direct_message_url</key>
	<string>http://api.t.sina.com.cn/direct_messages/destroy/%@.json</string>
	<key>destroy_direct_messages_url</key>
	<string>http://api.t.sina.com.cn/direct_messages/destroy_batch.json</string>
	<key>destroy_url</key>
	<string>http://api.t.sina.com.cn/statuses/destroy/%ld.json</string>
	<key>emotions_url</key>
	<string>http://api.t.sina.com.cn/emotions.json</string>
	<key>favorite_create_url</key>
	<string>http://api.t.sina.com.cn/favorites/create/%ld.json</string>
	<key>favorite_destroy_url</key>
	<string>http://api.t.sina.com.cn/favorites/destroy/%ld.json</string>
	<key>favorites_url</key>
	<string>http://api.t.sina.com.cn/favorites.json</string>
	<key>follow_url</key>
	<string>http://api.t.sina.com.cn/friendships/create.json</string>
	<key>friends_timeline_url</key>
	<string>http://api.t.sina.com.cn/statuses/friends_timeline.json</string>
	<key>get_access_token_url</key>
	<string>http://api.t.sina.com.cn/oauth/access_token</string>
	<key>get_block_list_url</key>
	<string>http://api.t.sina.com.cn/blocks/blocking.json</string>
	<key>get_direct_message_url</key>
	<string>http://api.t.sina.com.cn/direct_messages.json</string>
	<key>get_followees_url</key>
	<string>http://api.t.sina.com.cn/statuses/friends.json</string>
	<key>get_followers_url</key>
	<string>http://api.t.sina.com.cn/statuses/followers.json</string>
	<key>get_sent_direct_message_url</key>
	<string>http://api.t.sina.com.cn/direct_messages/sent.json</string>
	<key>get_statuses_for_topic_url</key>
	<string>http://api.t.sina.com.cn/trends/statuses.json</string>
	<key>get_topics_url</key>
	<string>http://api.t.sina.com.cn/trends/%@.json</string>
	<key>google</key>
	<string>http://www.google.com/#hl=en&amp;q=%@</string>
	<key>google-hk</key>
	<string>http://www.google.com.hk/webhp?hl=zh-CN#hl=zh-CN&amp;source=hp&amp;q=%@</string>
	<key>mentioned_me_url</key>
	<string>http://api.t.sina.com.cn/statuses/mentions.json</string>
	<key>post_url</key>
	<string>http://api.t.sina.com.cn/statuses/update.json</string>
	<key>public_timeline_url</key>
	<string>http://api.t.sina.com.cn/statuses/public_timeline.json</string>
	<key>rate_limit_url</key>
	<string>http://api.t.sina.com.cn/account/rate_limit_status.json</string>
	<key>reply_url</key>
	<string>http://api.t.sina.com.cn/statuses/reply.json</string>
	<key>repost_timeline_by_user_url</key>
	<string>http://api.t.sina.com.cn/statuses/repost_by_me.json</string>
	<key>repost_timeline_url</key>
	<string>http://api.t.sina.com.cn/statuses/repost_timeline.json</string>
	<key>repost_url</key>
	<string>http://api.t.sina.com.cn/statuses/repost.json</string>
	<key>request_token_url</key>
	<string>http://api.t.sina.com.cn/oauth/request_token</string>
	<key>reset_count_url</key>
	<string>http://api.t.sina.com.cn/statuses/reset_count.json</string>
	<key>send_direct_message_url</key>
	<string>http://api.t.sina.com.cn/direct_messages/new.json</string>
	<key>show_relationship_url</key>
	<string>http://api.t.sina.com.cn/friendships/show.json</string>
	<key>show_user_url</key>
	<string>http://api.t.sina.com.cn/users/show.json</string>
	<key>unblock_url</key>
	<string>http://api.t.sina.com.cn/blocks/destroy.json</string>
	<key>unfollow_url</key>
	<string>http://api.t.sina.com.cn/friendships/destroy.json</string>
	<key>unread_url</key>
	<string>http://api.t.sina.com.cn/statuses/unread.json</string>
	<key>upload_url</key>
	<string>http://api.t.sina.com.cn/statuses/upload.json</string>
	<key>user_timeline_url</key>
	<string>http://api.t.sina.com.cn/statuses/user_timeline.json</string>
	<key>verify_url</key>
	<string>http://api.t.sina.com.cn/account/verify_credentials.json</string>
</dict>
</plist>
